<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
                <p:outputPanel>Novo Cachorro</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">
         
        
        <h:messages globalOnly="true" />
            
        <h:form enctype="multipart/form-data" id="cachorro">
                <p:fieldset legend="Dados do Cachorro">
                    <h:panelGrid columns="2">
				
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{cachorroMB.cachorro.nome}"
						required="true">
						<f:validateLength minimum="2" />
					</p:inputText>

					<p:outputLabel value="Idade:" for="idade" />
					<p:inputText id="idade" value="#{cachorroMB.cachorro.idade}"
						required="true">
						<f:validateLength minimum="1" />
					</p:inputText>
					
					<p:outputLabel value="Raça:" for="raca" />
					<p:inputText id="raca" value="#{cachorroMB.cachorro.raca}"
						required="true">
						<f:validateLength minimum="3" />
					</p:inputText>
					
					<p:outputLabel value="Endereço:" for="endereco" />
					<p:inputText id="endereco" value="#{cachorroMB.cachorro.endereco}"
						required="true">
						<f:validateLength minimum="3" />
					</p:inputText>
					
					<p:outputLabel value="Observação:" for="observacao" />
					<p:inputText id="observacao" value="#{cachorroMB.cachorro.observacao}"
						required="true">
						<f:validateLength minimum="3" />
					</p:inputText>
								
					<p:outputLabel value="Foto do Cachorrro" />
    				<h:inputFile value="#{cachorroMB.fotoCachorro}" id="fotoCachorro" />
    	    											
				  </h:panelGrid>
				<p:commandButton value="Gravar" action="#{cachorroMB.gravar}" process="@form" update="@form formTabelaCachorros" ajax="false" />
			</p:fieldset>    
		</h:form>
		
		<h:form id="formTabelaCachorros">
		  <p:dataTable var="cachorro" value="#{cachorroMB.cachorros}" rows="10" paginator="true">
                    <f:facet name="header">
                    	Lista de Cachorros Cadastrados
                    </f:facet>
                    <p:column headerText="Nome" sortBy="#{cachorro.nome}"
                           filterBy="#{cachorro.nome}">
                           <a href="#{request.contextPath}/detalhesCachorro.xhtml?id=#{cachorro.id}" title="#{cachorro.nome}">
                           
                           <h:outputText value="#{cachorro.nome}" />
                           </a>
                    </p:column>
  
  					<p:column headerText="Raça" sortBy="#{cachorro.raca}"
                           filterBy="#{cachorro.raca}">
                           <h:outputText value="#{cachorro.raca}" />
                    </p:column>
  
                    <p:column headerText="Idade" sortBy="#{cachorro.idade}"
                           filterBy="#{cachorro.idade}">
                           <h:outputText value="#{cachorro.idade} ano(s)"/>
                    </p:column>
                      
                    <p:column headerText="Endereco" sortBy="#{cachorro.endereco}"
                           filterBy="#{cachorro.endereco}">
                           <h:outputText value="#{cachorro.endereco}"/>
                    </p:column>
                    
                    <p:column headerText="Observações" sortBy="#{cachorro.observacao}"
                           filterBy="#{cachorro.idade}">
                           <h:outputText value="#{cachorro.observacao}"/>
                    </p:column>  
                      
                    <p:column headerText="Foto do Cachorro">
                    	<h:graphicImage library="img" name="#{cachorro.pathImagem}"/>
                    </p:column>
                      
                    <!-- Alterar  -->
                    <p:column headerText="Alterar" >
                     	<p:commandButton icon="fa fa-fw fa-edit" value="Alterar" update=":cachorro">
            				<f:setPropertyActionListener value="#{cachorro}" target="#{cachorroMB.cachorro}" />
        				</p:commandButton>
                    </p:column>
                    <!-- Remover -->
                     <p:column headerText="Remover" >
                           <p:commandButton icon="fa fa-fw fa-remove" value="Remover" action="#{cachorroMB.remover(cachorro)}" update="@form" />
                    </p:column>
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(cachorroMB.cachorros)}" />
                    	<h:outputText value=" cachorros cadastrados. " />
	                </f:facet>
             </p:dataTable>
		</h:form>
	
	
	</ui:define>
</ui:composition>

</html>