<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">


	<ui:composition template="_template.xhtml">

    <ui:define name="titulo">
        <p:outputPanel>Novo Cliente</p:outputPanel>
    </ui:define>
            
    <h:messages globalOnly="true" />

    <ui:define name="conteudo">

		<h:form id="dadosCliente">
			<h:messages />
			
			 <p:fieldset legend="Dados do Cliente">
                    <h:panelGrid columns="2">
			
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{clienteMB.cliente.nome}"
						required="true" requiredMessage="Nome obrigatório"
						validatorMessage="Nome não pode ser superior a 40">
						<f:validateLength maximum="40" />
					</p:inputText>

					<p:outputLabel value="Telefone:" for="telefone" />
					<p:inputMask id="telefone" value="#{clienteMB.cliente.telefone}" mask="99-99999-9999" />

				</h:panelGrid>
			</p:fieldset>
	
			<p:fieldset legend="Dados do Cachorro">
               <h:panelGrid columns="5">

					<p:outputLabel value="Selecione Cachorro:" for="cachorro" />
					<p:selectOneMenu value="#{clienteMB.cachorroId}" id="cachorro">
						<f:selectItems value="#{clienteMB.cachorros}" var="cachorro"	itemLabel="#{cachorro.nome}" itemValue="#{cachorro.id}" />
					</p:selectOneMenu>
					
					<p:commandButton value="Gravar Cachorro" action="#{clienteMB.gravarCachorro}" process="@this cachorro" update="tabelaCachorros" />
					
					<p:commandButton value="Cadastrar Cachorro" action="#{clienteMB.formCachorro}" immediate="true" update="@all"/>
						
					<p:dataTable id="tabelaCachorros" value="#{clienteMB.cachorrosDoCliente}" var="cachorro" emptyMessage="Nenhum Cachorro ..">
					
						<p:column headerText="Código">
							<h:outputText value="#{cachorro.id}" />
						</p:column>
				
						<p:column headerText="Nome">
							<h:outputText value="#{cachorro.nome}" />
						</p:column>
					
						<p:column headerText="Raça">
							<h:outputText value="#{cachorro.raca}" />
						</p:column>
						<p:column headerText="Idade">
							<h:outputText value="#{cachorro.idade} ano(s)"  />
						</p:column>
					
						<p:column headerText="Remover">
        					<p:commandButton value="Excluir" action="#{clienteMB.removerCachorroDoCliente(cachorro)}" immediate="true" update="tabelaCachorros" process="@this"/>
    					</p:column>
					
					</p:dataTable>
				
				</h:panelGrid>
			
			</p:fieldset>

			<p:commandButton value="Gravar" action="#{clienteMB.gravar}" process="@form" update="@form :formTabelaClientes:tabelaClientes" />

		</h:form>
	
	<h:form id="formTabelaClientes">
	
		  <p:dataTable id="tabelaClientes" var="cliente" value="#{clienteMB.clientes}" rows="10" paginator="true">
               <f:facet name="header">
                  	Lista de Clientes Cadastrados
               </f:facet>
                    <p:column headerText="Nome" sortBy="#{cliente.nome}"
                           filterBy="#{cliente.nome}">
                           <h:outputText value="#{cliente.nome}" />
                    </p:column>
  
                    <p:column headerText="Telefone" sortBy="#{cliente.telefone}"
                           filterBy="#{cliente.telefone}">
                           <h:outputText value="#{cliente.telefone}" />
                    </p:column>
  					
  					<p:column headerText="Data de Cadastro" sortBy="#{cliente.dataCadastro.time}"
                           filterBy="#{cliente.dataCadastro.time}">
                           <h:outputText value="#{cliente.dataCadastro.time}">
                           		<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
                           </h:outputText>
                    </p:column>
  					
  					<p:column headerText="Cachorro(s)" sortBy="#{cliente.cachorros}" filterBy="#{cliente.cachorros}">
  						<p:dataTable id="tabelaCachorrosDoCliente" value="#{cliente.cachorros}" var="cachorro" emptyMessage="Nenhum Cachorro ..">										
							<p:column >
								<h:outputText value="#{cachorro.nome}"/>
							</p:column>				
						</p:dataTable>
                    </p:column>
  					<!--  
  					<p:column headerText="Últimos Serviços" sortBy="#{cliente.servicos}" filterBy="#{cliente.servicos}">
  						<p:dataTable id="tabelaServicosDoCliente" value="#{cliente.servicos}" var="servico" emptyMessage="Nenhum Serviço ..">										
							<p:column >
								<h:outputText value="#{servicos.nome}"/>
							</p:column>
							<p:column >
								<h:outputText value="#{servicos.preco}"/>
							</p:column>	
						</p:dataTable>
					</p:column>                
					-->
					<p:column headerText="Cadastrar Serviço">
        				<p:commandButton icon="fa fa-fw fa-edit" value="Serviço" action="#{clienteMB.carregar(cliente)}" update=":dadosCliente" />
    				</p:column>
                    
                    <p:column headerText="Alterar">
        				<p:commandButton icon="fa fa-fw fa-edit" value="Alterar" action="#{clienteMB.carregar(cliente)}" update=":dadosCliente" />
    				</p:column>
                    
                    
                    <!-- Remover -->
                     <p:column headerText="Remover" >
                        <p:commandButton icon="fa fa-fw fa-remove" value="Excluir" action="#{clienteMB.remover(cliente)}" update="@form" />
                    </p:column>
                    
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(clienteMB.clientes)}" />
                    	<h:outputText value=" clientes cadastrados. " />
	                </f:facet>
		
			</p:dataTable>
		
	</h:form>
	
	</ui:define>
</ui:composition>
</html>