<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<f:metadata>
	    <f:viewParam value="#{cachorroMB.cachorroId}" name="id" />
	    <f:viewAction action="#{cachorroMB.carregarDetalhe()}" />
	</f:metadata>

<ui:composition template="_template.xhtml">

	<ui:define name="nome">
		<p:outputPanel>#{cachorroMB.cachorro.nome}</p:outputPanel>
	</ui:define>

	<ui:define name="conteudo">


		<h:messages globalOnly="true" />

		<h:form>
			<p:dataTable>
			
				<p:column headerText="Nome">
					<h:outputText value="#{cachorroMB.cachorro.nome}" />
				</p:column>

				<p:column headerText="raca">
					<h:outputText value="#{cachorroMB.cachorro.raca}" />
				</p:column>

				<p:column headerText="endereco">
					<h:outputText value="#{cachorroMB.cachorro.endereco}" />
				</p:column>

				<p:column headerText="observacao">
					<h:outputText value="#{cachorroMB.cachorro.observacao}" />
				</p:column>

				<p:column headerText="Foto">
					<p:graphicImage value="#{cachorroMB.cachorro.pathImagem}" />
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>

</html>