<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">



	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
                <p:outputPanel>Detalhes do Cliente</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">
         
        
        <h:messages globalOnly="true" />
        
        
        
               		
		<h:form id="formTabelaCachorros">
		  <p:dataTable var="cachorro" value="#{cachorroMB.cachorros}" rows="10">
                    <f:facet name="header">
                    	Lista de Cachorros Cadastrados
                    </f:facet>
                    <p:column headerText="Nome" sortBy="#{cachorro.nome}"
                           filterBy="#{cachorro.nome}">
                           <h:outputText value="#{cachorro.nome}" />
                    </p:column>
  
  					<p:column headerText="Raça" sortBy="#{cachorro.raca}"
                           filterBy="#{cachorro.raca}">
                           <h:outputText value="#{cachorro.raca}" />
                    </p:column>
  
                    <p:column headerText="Idade" sortBy="#{cachorro.idade}"
                           filterBy="#{cachorro.idade}">
                           <h:outputText value="#{cachorro.idade} ano(s)"/>
                    </p:column>
                      
                    <!-- Alterar  -->
                    <p:column headerText="Alterar" >
                     	<p:commandButton icon="fa fa-fw fa-edit" value="Alterar" update=":cachorro">
            				<f:setPropertyActionListener value="#{cachorro}" target="#{cachorroMB.cachorro}" />
        				</p:commandButton>
                    </p:column>
                    <!-- Remover -->
                     <p:column headerText="Remover" >
                           <p:commandButton icon="fa fa-fw fa-remove" value="Remover" action="#{cachorroMB.remover(cachorro)}" update="@form" />
                    </p:column>
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(cachorroMB.cachorros)}" />
                    	<h:outputText value=" cachorros cadastrados. " />
	                </f:facet>
             </p:dataTable>
		</h:form>
	
	
	</ui:define>
</ui:composition>

</html>