<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
                <p:outputPanel>Escolher estilo das páginas</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">
         
        	<h:messages globalOnly="true" />
            
      		<h:panelGrid columns="2">
				<h:form rendered="#{usuarioLogado != null}" >
	    			<p:themeSwitcher id="escolherTema" style="width:165px" value="#{temaMB.tema}">
	        			<f:selectItem itemLabel="Escolher tema" itemValue="" />
	        			<f:selectItems value="#{temaMB.temas}" var="tema" itemLabel="#{tema}" itemValue="#{tema}" />
	    				<f:ajax />
	    			</p:themeSwitcher>
				</h:form>
			</h:panelGrid>
		
		</ui:define>
	</ui:composition>

</html>