<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">



	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
                <p:outputPanel>Novo Serviço</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">
         
        
        <h:messages globalOnly="true" />
            
        <h:form id="servico">
                <p:fieldset legend="Dados do Serviço">
                    <h:panelGrid columns="2">
				
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{servicoMB.servico.nome}"
						required="true">
						<f:validateLength minimum="2" />
					</p:inputText>

					<p:outputLabel value="Preco:" for="preco" />
					<p:inputText id="preco" value="#{servicoMB.servico.preco}"
						required="true">
						<f:validateLength minimum="1" />
					</p:inputText>
					
					<p:outputLabel value="Descricao:" for="descricao" />
					<p:inputText id="descricao" value="#{servicoMB.servico.descricao}"
						required="true">
						<f:validateLength minimum="3" />
					</p:inputText>

					</h:panelGrid>
				<p:commandButton value="Gravar" action="#{servicoMB.gravar}" process="@form" update="@form formTabelaServicos" />
			</p:fieldset>    
		</h:form>
		
		<h:form id="formTabelaServicos">
		  <p:dataTable var="servico" value="#{servicoMB.servicos}" rows="10">
                    <f:facet name="header">
                    	Lista de Serviços Cadastrados
                    </f:facet>
                    <p:column headerText="Nome" sortBy="#{servico.nome}"
                           filterBy="#{servico.nome}">
                           <h:outputText value="#{servico.nome}" />
                    </p:column>
  
  					<p:column headerText="Preço" sortBy="#{servico.preco}"
                           filterBy="#{servico.preco}">
                           <h:outputText value="#{servico.preco}" />
                    </p:column>
  
                    <p:column headerText="Descricao" sortBy="#{servico.descricao}"
                           filterBy="#{servico.descricao}">
                           <h:outputText value="#{servico.descricao}"/>
                    </p:column>
                      
                    <!-- Alterar  -->
                     <p:column headerText="Alterar" >
                     	<p:commandButton icon="fa fa-fw fa-edit" value="Alterar" update=":servico">
            				<f:setPropertyActionListener value="#{servico}" target="#{servicoMB.servico}" />
        				</p:commandButton>
                    </p:column>
                    <!-- Remover -->
                     <p:column headerText="Remover" >
                           <p:commandButton icon="fa fa-fw fa-remove" value="Remover" action="#{servicoMB.remover(servico)}" update="@form" />
                    </p:column>
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(servicoMB.servicos)}" />
                    	<h:outputText value=" servicos cadastrados. " />
	                </f:facet>
             </p:dataTable>
		</h:form>
	
	
	</ui:define>
</ui:composition>

</html>