<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">


	<ui:composition template="_template.xhtml">

    <ui:define name="titulo">
        <p:outputPanel>Serviços</p:outputPanel>
    </ui:define>
            
    <h:messages globalOnly="true" />

    <ui:define name="conteudo">

		<h:form id="dadosCliente">
			<h:messages />
			
			 <p:fieldset legend="Dados do Cliente">
                    <h:panelGrid columns="2">
			
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{clienteMB.cliente.nome}"
						required="true" requiredMessage="Nome obrigatório"
						validatorMessage="Nome não pode ser superior a 40">
						<f:validateLength maximum="40" />
					</p:inputText>

					<p:outputLabel value="Telefone:" for="telefone" />
					<p:inputMask id="telefone" value="#{clienteMB.cliente.telefone}" mask="99-99999-9999" />

				</h:panelGrid>
			</p:fieldset>
	
			<p:fieldset legend="Dados do Servico">
               <h:panelGrid columns="5">
	
			
					<p:outputLabel value="Selecione Servico:" for="servico" />
					<p:selectOneMenu value="#{clienteMB.servicoId}" id="servico">
						<f:selectItems value="#{clienteMB.servicos}" var="servico"	itemLabel="#{servico.nome}" itemValue="#{servico.id}" />
					</p:selectOneMenu>
								
					<p:commandButton value="Gravar Servico" action="#{clienteMB.gravarServico}" process="@this servico" update="tabelaServicos" />
					
					<p:commandButton value="Cadastrar servico" action="#{clienteMB.formServico}" immediate="true" update="@all"/>
	
					<p:dataTable id="tabelaServicos" value="#{clienteMB.servicosDoCliente}" var="servico" emptyMessage="Nenhum Servico ..">
					
						<p:column headerText="Código">
							<h:outputText value="#{servico.id}" />
						</p:column>
				
						<p:column headerText="Nome">
							<h:outputText value="#{servico.nome}" />
						</p:column>
					
						<p:column headerText="dataServico">
							<p:outputLabel value="Data de Realização:" for="dataServico" />
							<p:calendar id="dataServico" value="#{clienteMB.servicos.dataServico.time}" pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" mask="true" />
						</p:column>
					
						<p:column headerText="Remover">
        					<p:commandButton value="Excluir" action="#{clienteMB.removerServicoDoCliente(servico)}" immediate="true" update="tabelaServicos" process="@this"/>
    					</p:column>
					
					</p:dataTable>
				
				</h:panelGrid>
			
			</p:fieldset>

			<p:commandButton value="Gravar" action="#{clienteMB.gravar}" process="@form" update="@form :formTabelaClientes:tabelaClientes" />

		</h:form>
	
	<h:form id="formTabelaClientes">
	
		  <p:dataTable id="tabelaClientes" var="cliente" value="#{clienteMB.clientes}" rows="10">
               <f:facet name="header">
                  	Lista de Clientes Cadastrados
               </f:facet>
                    <p:column headerText="Nome" sortBy="#{cliente.nome}"
                           filterBy="#{cliente.nome}">
                           <h:outputText value="#{cliente.nome}" />
                    </p:column>
  
                    <p:column headerText="Telefone" sortBy="#{cliente.telefone}"
                           filterBy="#{cliente.telefone}">
                           <h:outputText value="#{cliente.telefone}" />
                    </p:column>
  					
  					<p:column headerText="Cachorro(s)" sortBy="#{cliente.cachorros}" filterBy="#{cliente.cachorros}">
  						<p:dataTable id="tabelaCachorrosDoCliente" value="#{cliente.cachorros}" var="cachorro" emptyMessage="Nenhum Cachorro ..">										
							<p:column >
								<h:outputText value="#{cachorro.nome}"/>
							</p:column>				
						</p:dataTable>
                    </p:column>
  					
  					<p:column headerText="Data de Cadastro" sortBy="#{cliente.dataCadastro.time}"
                           filterBy="#{cliente.dataCadastro.time}">
                           <h:outputText value="#{cliente.dataCadastro.time}" >
                           		<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" mask="true"/>
                           </h:outputText>
                    </p:column>                

                    
                    <p:column headerText="Cadastrar Serviço">
        				<p:commandButton icon="fa fa-fw fa-edit" value="Cadastrar Serviço" action="#{clienteMB.carregar(cliente)}" update=":dadosCliente" />
    				</p:column>             
                    
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(clienteMB.clientes)}" />
                    	<h:outputText value=" clientes cadastrados. " />
	                </f:facet>
		
			</p:dataTable>
		
	</h:form>
	
	</ui:define>
</ui:composition>
</html>