<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">



	<ui:composition template="_template.xhtml">

        <ui:define name="titulo">
                <p:outputPanel>Novo Usuário</p:outputPanel>
        </ui:define>

        <ui:define name="conteudo">
         
        
        <h:messages globalOnly="true" />
            
        <h:form id="usuario">
                <p:fieldset legend="Dados do Usuário">
                    <h:panelGrid columns="2">
				
					<p:outputLabel value="Email:" for="email" />
					<p:inputText id="email" value="#{usuarioMB.usuario.email}"
						required="true">
						<f:validateLength minimum="2" />
					</p:inputText>

					<p:outputLabel value="Senha:" for="senha" />
					<p:password id="senha" value="#{usuarioMB.usuario.senha}"	required="true"/>
					
				  </h:panelGrid>
				<p:commandButton value="Gravar" action="#{usuarioMB.gravar}" process="@form" update="@form formTabelaUsuarios" />
			</p:fieldset>    
		</h:form>
		
		<h:form id="formTabelaUsuarios">
		  <p:dataTable var="usuario" value="#{usuarioMB.usuarios}" rows="10">
                    <f:facet name="header">
                    	Lista de Usuários Cadastrados
                    </f:facet>
                    <p:column headerText="Email" sortBy="#{usuario.email}"
                           filterBy="#{usuario.email}">
                           <h:outputText value="#{usuario.email}" />
                    </p:column>
                        
                    <!-- Alterar  -->
                    <p:column headerText="Alterar" >
                     	<p:commandButton icon="fa fa-fw fa-edit" value="Alterar" update=":usuario">
            				<f:setPropertyActionListener value="#{usuario}" target="#{usuarioMB.usuario}" />
        				</p:commandButton>
                    </p:column>
                    <!-- Remover -->
                     <p:column headerText="Remover" >
                           <p:commandButton icon="fa fa-fw fa-remove" value="Remover" action="#{usuarioMB.remover(usuario)}" update="@form" />
                    </p:column>
  					<f:facet name="footer">
                     	<h:outputText value="Existem " />
                     	<h:outputText value="#{fn:length(usuarioMB.usuarios)}" />
                    	<h:outputText value=" usuarios cadastrados. " />
	                </f:facet>
             </p:dataTable>
		</h:form>
	
	
	</ui:define>
</ui:composition>

</html>